.input-field {
  margin-bottom: 1em;
  font-weight: 600;
  line-height: 1.5;
  width: 30em;
}

#missing-permission {
  padding: 3em 0;
  text-align: center;
  display: none;
}

#missing-permission .description {
  font-size: 0.9em;
}

.error {
  margin-top: 1em;
  color: orangered;
}

.input-field input,
.input-field select {
  width: 100%;
  font-weight: normal;
  line-height: 1;
  margin: 0;
}

.google-cal-settings {
  font-size: 0.8em;
  font-weight: normal;
  float: right;
}

.footer {
  margin: 1.5em 0;
}

.footer #status {
  margin-left: 0.5em;
}

#sync-now {
  background: transparent;
  border: 0;
  box-shadow: none;
  text-decoration: underline;
  cursor: pointer;
  float: right;
  clear: both;
}
